@import '../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url("/assets/fontawesome/css/all.min.css");



@function r($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

$color : #E80001;
$fontFamily: 'Roboto',
sans-serif;

.important {
    color: $color
}


:root {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }
}




body {
    font-family: $fontFamily;
    font-weight: 100;
}

.items-check {
    list-style: none;
    margin: 0;
    margin-top: 8px;

    li {
        display: inline-block;
        margin-right: r(4px);
        font-size: r(14px);
        font-weight: 300;

        &:last-child {
            margin-right: 0;
        }

        &::before {
            content: ' '; // n'interprpete pas ce code : \f00c
            display: inline-block;
            background: url('/assets/images/slides/check.png') center center / 10px 10px no-repeat;
            width: 10px;
            height: 10px;
            margin-right: 6px;
            margin-top: -1px;
            vertical-align: middle;
        }
    }
}










header {
    .top-bar {
        background-color: #232323;
        padding: r(12px) 0;
        margin: 0 auto;

        .context {
            text-align: center;

            .text {
                display: inline-block;
                color: rgba(255, 255, 255, 0.7);
                margin: 0;
                font-size: r(13px);
                font-weight: 300;
                font-family: $fontFamily;
            }
        }

        .social-network-list {
            text-align: center;

            .social-network {
                margin: 0;

                li {
                    display: inline;
                    list-style: none;
                    color: #fff;
                    margin-left: r(5px);

                    &:first-child {
                        margin-left: 0;
                    }

                    a {
                        text-decoration: none;
                        color: #666666;
                        font-size: r(12px);

                        &:hover {
                            color: #fff;
                            transition: color .3s;
                        }
                    }
                }
            }
        }

    }


    .menu-bar {
        nav {
            display: flex;
            align-items: center;
            padding: r(22px) r(70px);
            background-color: #fff;
            box-shadow: 1px 1px 2px #d9d7d7;

            .navbar-brand {
                margin: 0;
                padding: 0;
                //z-index: 2;
                flex: none;
            }

            .navbar-menu {
                display: none;
                margin: 0;
                flex-wrap: nowrap;

                li {
                    display: inline-block;

                    &.active {
                        a {
                            color: $color !important;
                        }
                    }

                    a {
                        color: #6E6E6E;
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: r(14px);
                        margin-right: r(25px);

                        &:hover {
                            color: $color;
                            transition: color .3s;
                            text-decoration: none;
                        }
                    }

                    &.dropdown {
                        position: relative;
                        display: inline-block;

                        &:hover {
                            .dropdown-menu {
                                display: block;
                            }
                        }

                        .dropdown-menu {
                            display: none;
                            //display: block;
                            position: absolute;
                            top: 51px;
                            z-index: -1;
                            border: none;
                            border-top: r(5px) solid #000;
                            text-align: left;
                            min-width: r(190px);
                            padding: 0;
                            box-shadow: 1px 1px 1px 1.2px whitesmoke;

                            .sub-item {
                                display: block;
                                padding: r(12px) 0;
                                padding-left: r(18px);
                                color: #6E6E6E;
                                margin: 0;

                                &:hover {
                                    color: #fff !important;
                                    background-color: rgba(0, 0, 0, 0.8);
                                    transition: .5s;
                                }

                            }
                        }



                    }
                }

            }

            .navbar-menu-mobile {
                font-size: 22px;
                padding: 0;
            }
        }

    }
}



/* Custom Config Slick Plugin */


/* Fin config slick slider */
.section-slider {

    .slick-next {
        right: 50px !important;

        &::before {
            font-size: 35px;
            opacity: 1;
            color: #2f2b2b;
        }
    }

    .slick-prev {
        left: 50px !important;

        &::before {
            font-size: 35px;
            opacity: 1;
            color: #2f2b2b;
        }
    }

    .slick-dots {
        bottom: 30px;

        li {
            &.slick-active {
                color: red;
            }

            button {
                &::before {
                    font-size: 22px;
                }
            }
        }
    }

    .sliders {
        margin: 0;
        padding: 0;
        position: relative;
        margin-top: -15px;
        z-index: -2;

        .slide {
            height: r(534px);
            max-width: 100%;
        }

        .slide-1 {
            background: url('/assets/images/slides/slide1.jpg') center left / cover no-repeat;

            .context {
                display: inline-block;
                position: absolute;
                padding: 20px;
                top: 50%;
                transform: translateY(-50%);
                font-family: $fontFamily;

                .title {
                    font-weight: 400;
                    color: #262626;
                    line-height: 0.98;

                    .sub-title-1 {
                        font-size: r(28px);
                    }

                    .sub-title-2 {
                        font-size: r(30px);
                    }
                }

                .text {
                    color: rgba(0, 0, 0, 0.8);
                    font-weight: 400;
                    font-size: r(17px);
                    line-height: 1;
                    margin: 0;
                    margin-top: r(32px);
                }

                .items {
                    margin: 0;
                    margin-top: r(5px);
                    list-style: none;
                    font-weight: 400;
                    font-size: r(16px);
                    margin-left: r(25px);

                    li {
                        padding: r(4px) 0;

                        &::before {
                            content: '';
                            display: inline-block;
                            background: url('/assets/images/slides/s1.png') center center / contain no-repeat;
                            width: r(33px);
                            height: r(33px);
                            vertical-align: middle;
                            margin-right: r(17px);
                        }

                        &.item-2 {
                            &::before {
                                background: url('/assets/images/slides/s2.png') center center / contain no-repeat;
                            }
                        }

                        &.item-3 {
                            &::before {
                                background: url('/assets/images/slides/s3.png') center center / contain no-repeat;
                            }
                        }
                    }
                }
            }
        }

        .slide-2 {
            background: url('/assets/images/slides/slide2.jpg') center left / cover no-repeat;

            .context {
                color: #fff;
                text-align: center;
                max-width: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                margin: auto 9%;
                display: block;

                .title {
                    font-size: r(40px);
                    font-weight: 400;
                }

                .sub-title {
                    font-weight: 300;
                    font-size: r(22px);
                }

            }
        }

        .slide-3 {
            background: url('/assets/images/slides/slide3.jpg') center left / cover no-repeat;

            .context {
                color: #726B64;
                width: 520px;
                text-align-last: left;
                position: absolute;
                top: 50%;
                left: 11%;
                transform: translateY(-50%);
                max-width: 100%;

                .title {
                    text-transform: uppercase;
                    font-size: 30px;
                    font-weight: 400;
                    letter-spacing: 0.6;
                }

                .sub-title {
                    text-transform: uppercase;
                    font-weight: 400;
                    font-size: 18px;
                }

                .text {
                    margin: 0;
                    margin-top: 6px;
                    font-size: 14px;
                    font-weight: 300;
                }

            }
        }
    }

    .banner {
        height: 127px;
        text-transform: uppercase;
        color: #fff;
        background-color: #3C3C3C;
        text-align: center;
        margin: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        .title {
            font-weight: 300;
            font-size: 20px;
        }

        .buttons {
            margin-top: 26px;

            .btn {
                box-sizing: border-box;
                border: 1px solid #fff;
                border-radius: 0;
                padding: 8px 17px;
                color: #fff;
                font-weight: 400;
                font-size: 16px;
                margin-right: 15px;

                &:hover {
                    background-color: whitesmoke;
                    color: #3C3C3C;
                    transition: .5s;
                }
            }
        }
    }
}




.section-service {
    .services {
        margin-top: 88px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .service {
            text-align: center;
            padding: 15px 0;

            .header {
                .icon {
                    margin: 0;
                    display: inline-block;
                    border: #464646 2px solid;
                    border-radius: 50%;
                    text-decoration: none;

                    i {
                        font-size: 27px;
                        font-weight: 900;
                        color: #333333 !important;
                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                        height: 70px;
                        width: 70px;
                    }
                }

                .title {
                    margin: 0;
                    margin-top: r(10px);
                    font-size: 18px;
                    text-transform: uppercase;
                    font-weight: 400;
                }

            }

            .content {
                margin-top: r(12px);
                font-size: 13px;
                text-align: center;
                font-weight: 300;
                color: #ADADAD;
            }

            .footer {
                display: inline-block;
                border: #464646 1px solid;
                border-radius: 50%;

                &::after {
                    content: "\f067";
                    display: inline-block;
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 900;
                    font-size: 1.2em;
                    width: 33px;
                    height: 33px;
                    color: #929292;

                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                }
            }

            &:hover {
                background-color: #000;
                color: #fff;
                cursor: pointer;
                transition: background-color .4s;

                .header {
                    .hover-circle {
                        border: 3px solid #fff;
                        display: inline-block;
                        border-radius: 50%;
                    }

                    .icon {
                        border: solid 5px #000;
                        border-color: #000;
                        background-color: #fff;

                        display: table-cell;
                        vertical-align: middle;
                        text-align: center;
                    }
                }

                .content {
                    color: #fff;
                }

                .footer {
                    border-color: #fff;

                    &::after {
                        color: #fff;
                    }
                }
            }
        }
    }
}



.section-about {
    text-align: center;

    &::after {
        content: '';
        display: inline-block;
        height: 0;
        width: 0;
        border-top: 45px solid #FAFAFA;
        border-right: 45px solid transparent;
        border-left: 45px solid transparent;
    }

    .about {
        background-color: #FAFAFA;
        text-transform: uppercase;
        text-align: center;
        margin-top: 70px;
        padding: 40px 10px 34px;
        font-size: r(14px);

        .context {

            .title {
                font-size: 36px;
                font-weight: 300;
            }

            .text {
                margin: 0;
                margin-top: 20px;
            }
        }



    }
}


.section-stats {
    .stats {
        margin-top: r(85px);

        .stat {
            text-align: center;
            font-family: $fontFamily;
            text-transform: uppercase;
            margin-bottom: r(90px);

            .number {
                color: #626262;
                font-weight: 400;
                font-size: r(55px);
            }

            .title {
                font-size: r(17px);
                font-weight: 400;
                color: #626262;
                letter-spacing: 0.05em;
                margin: 0;
            }
        }
    }
}

.custom-section {
    max-width: 100%;

    &::before {
        content: "\f058";
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 1.8em;
        width: 70px;
        height: 70px;
        color: #6E6E6E;
        background-color: #fff;
        border: 1px solid #dddddd;
        border-radius: 50%;
        padding: 10px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        //transform: translateY(-50%);
        transform: translate(-50%, -50%);
        z-index: 2;

    }
}

.section-illustration-mobile {
    .illustration {
        padding-top: r(100px);
        padding-bottom: r(15px);
        color: #6E6E6E;

        .context-text {
            text-align: center;
            text-transform: uppercase;
            padding: 10px 20px;

            .title {
                font-weight: 300;
                font-size: 28px;
                letter-spacing: 0.02em;
                line-height: 1.4;
                color: #241201;
            }

            .text {
                font-size: r(16px);
                font-weight: 300;
                margin: 0;
                padding: 0;
                padding-top: r(10px);
            }
        }

        .context-img {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .blocs {
                .bloc {
                    margin-top: r(30px);
                    padding: 0 23px;

                    .icon {
                        margin: 0;
                        display: inline-block;
                        border: #6E6E6E 1px solid;
                        border-radius: 50%;
                        text-decoration: none;

                        i {
                            font-size: 27px;
                            font-weight: 900;
                            color: #6E6E6E !important;
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;
                            height: 70px;
                            width: 70px;
                        }
                    }

                    .title {
                        text-transform: uppercase;
                        font-size: 17px;
                        font-weight: 300;
                    }

                    .text {
                        font-size: 13px;
                        font-weight: 300;
                        padding-top: 5px;
                    }
                }
            }

            .image {
                display: none;
            }
        }
    }
}




.section-testimonial {
    position: relative;
    margin-top: r(120px);
    background: url("/assets/images/testimonial-bg.jpg") center center / cover no-repeat;
    height: 550px;
    color: #fff;

    .custom-section {
        &::before {
            content: "\f086";
        }
    }

    .testimonial {
        font-weight: 400;
        text-align: center;

        .sliders-testimonial {
            .slick-next {
                display: none;
            }

            .slick-prev {
                display: none;
            }
        }

        .context {
            font-size: r(27px);
            text-transform: uppercase;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            padding: 0 0px;
            transform: translateY(-50%) translateX(-50%);

            .text {
                margin: 0;
            }

            .author {
                font-size: r(12px);

                &::after,
                &::before {
                    content: '-';
                    display: inline-block;
                    padding: 0 3px;
                }
            }

        }
    }
}



.section-skills {
    position: relative;

    .custom-section {
        &::before {
            content: "\f135";
        }
    }

    .skills {
        padding-top: 81px;

        .tab-skills {
            color: #545454;

            nav {
                text-transform: uppercase;
                letter-spacing: 0.01em;
                font-size: 15px;

                a {
                    color: #262626;
                    border-radius: 0;
                    padding: 13px;

                    &.active {
                        border-top-color: red;
                        border-top-width: 2px;
                        transition: .5s;
                    }
                }
            }

            .tab-content {
                padding: 35px 10px;
                border: 1px solid #dddddd;
                border-top: none;
                font-size: 14px;

                img {
                    padding: 0 20px;
                }
            }


        }


        .progress-skills {
            .title {
                font-size: r(32px);
                color: #929292;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.02em;
                margin-bottom: 13px;
            }


            .context {
                margin: 15px 0;

                .skill-name {
                    font-weight: 300;
                    text-transform: uppercase;
                    color: #929292;
                    font-size: 15px;
                }

                .progress {
                    height: 1.7em;

                    .progress-bar {
                        background-color: $color;
                    }
                }
            }


        }
    }
}



.section-team {
    margin-top: 130px;

    .team {
        .presentation {
            text-align: center;
            padding: 0 101px;

            .title {
                text-transform: uppercase;
                font-weight: 300;
                font-size: r(35px);
                letter-spacing: 0.02rem;
            }

            .text {
                margin-top: r(20px);
                font-size: r(16px);
                font-weight: 300;
                color: #241201;
            }
        }


        .sliders-cards {
            .card {
                text-align: center;
                border: none;
                padding: 20px 5px;


                &:hover {
                    background-color: rgba(0, 0, 0, 0.8);
                    color: #fff;
                    border-bottom: 5px solid $color;
                    border-radius: 0;
                    transition: .5s;

                    .text {
                        color: inherit
                    }

                    .profession {
                        color: inherit;
                    }

                }

                .card-img {
                    img {
                        width: 145px;
                        height: 145px;
                        border: whitesmoke 4px solid;
                        border-radius: 50%;
                        display: inline-block;
                    }
                }

                .card-body {
                    .name {
                        font-weight: 200;
                        text-transform: uppercase;
                        font-size: 18px;
                    }

                    .profession {
                        font-weight: 100;
                        font-size: r(15px);
                        color: #ADADAD;
                        text-transform: uppercase;
                        margin-top: 3px;

                    }

                    .text {
                        font-size: r(13px);
                        margin: 0;
                        margin-top: 8px;

                    }

                    .social-network {
                        margin-top: 7px;
                        list-style: none;

                        li {
                            display: inline-block;

                            a {
                                color: #626262;
                            }
                        }
                    }
                }
            }
        }
    }
}

.section-banner-2 {
    margin-top: 45px;
    position: relative;
    background-color: #FAFAFA;

    .custom-section {
        &::before {
            content: "\f0f2";
        }
    }

    .banner-2 {
        padding: 100px 0;

        .context-image {}

        .context-text {
            .title {
                text-transform: uppercase;
                font-weight: 300;
                font-size: r(30px);
            }

            .accordion {
                margin-top: 40px;

                .item {
                    margin-bottom: 30px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    .title {
                        font-size: r(13px);
                        font-weight: 400;
                        text-transform: uppercase;
                        cursor: pointer;

                        &::before {
                            content: " ";
                            display: inline-block;
                            background: url('/assets/images/slides/check.png') center center / 10px 10px no-repeat;
                            width: 10px;
                            height: 10px;
                            margin-right: r(6px);
                            margin-top: -1px;
                            vertical-align: middle;
                        }
                    }

                    .text {
                        font-size: r(13px);
                        font-weight: 300;
                        color: #000;
                        margin: 20px 0 0 22px;
                        text-align: left;

                        &:after {
                            content: " ";
                            border-bottom: .3px solid #dddddd;
                            display: inline-block;
                            width: 100%;
                            margin-bottom: -10px;
                        }
                    }
                }

            }
        }
    }
}



.section-projects {
    position: relative;

    .custom-section {
        &::before {
            content: "\f108";
            color: #dddddd;
        }
    }

    .projects {
        padding-top: 100px;
        text-align: center;

        .presentation {
            display: inline-block;
            padding: 0 215px;

            .title {
                font-size: r(34px);
                font-weight: 300;
            }

            .text {
                margin: 15px 0;
                font-size: r(18px);
            }
        }

        .project-categories {
            border: 1px solid #E9E9E9;
            border-radius: 28px;
            display: inline-block;
            padding: r(10px);
            background-color: #E9E9E9;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 45%;
            margin: 0 auto;

            .item {
                a {
                    text-decoration: none;
                    padding: 10px 0px;
                    font-size: r(14px);
                    color: #7A7A7A;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }

        }

        .project-list {
            margin-top: 100px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            text-align: center;

            .card {
                width: r(327px);
                margin-bottom: 20px;
                color: #ADADAD;
                border-radius: 0;

                .card-body {
                    padding: .31rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;

                    .title {
                        font-size: r(18px);
                        text-transform: uppercase;
                        font-weight: 200;
                    }

                    .text {
                        font-size: r(14px);
                    }
                }
            }

        }
    }


    .section-banner-3 {
        padding: 150px 0;
        .banner-3 {
            .context-text {
                text-align: center !important;
                text-transform: uppercase;
                margin: 0 auto;
            }
        }
    }
}

/*-------------------------RESPONSIVE --------------------------------- */

@media only screen and (min-width : 431px) {
    .section-testimonial {
        .testimonial {
            .sliders-testimonial {
                .slick-next {
                    right: 50px !important;
                    top: 184px;

                    &::before {
                        font-size: 15px;
                        opacity: 1;
                        color: #fff;
                    }
                }

                .slick-prev {
                    display: inline-block;
                    left: 50px !important;
                    top: 184px;

                    &::before {
                        font-size: 15px;
                        color: #fff;
                    }
                }
            }

            .context {
                font-size: r(30px);

                .author {
                    font-size: r(14px);
                }

            }
        }
    }
}


@media only screen and (min-width : 481px) {
    .section-illustration-mobile {
        .illustration {
            .context-text {
                padding: 0 35px;

                .title {
                    font-size: r(35px);
                }
            }

            .context-img {
                flex-direction: row;

                .blocs {
                    .bloc {
                        margin-top: r(70px);
                        padding: 0px 25px;

                        .title {
                            font-size: r(22px);
                        }

                        .text {
                            padding-top: 5px;
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (min-width : 641px) {

    .section-stats {
        .stats {
            margin-top: r(85px);

            .stat {
                margin-bottom: r(18px);
            }
        }
    }

    .section-illustration-mobile {
        .illustration {
            .context-text {
                padding: 0 12px;

                .text {
                    font-size: r(17px);
                    padding-top: r(10px);
                }
            }

            .context-img {
                display: block;

                .blocs {
                    margin: 0;

                    .bloc {
                        margin-top: r(50px);
                        max-width: 56%;

                        .title {
                            margin-top: r(5px);
                            font-size: r(26px);
                        }
                    }

                    .bloc:nth-child(odd) {
                        margin-right: auto;
                        padding-right: 27px;
                        text-align: right;
                    }

                    .bloc:nth-child(even) {
                        margin-left: auto;
                        padding-left: 27px;
                        text-align: left;
                    }
                }


            }
        }


    }
}



@media only screen and (min-width : 768px) {
    .section-service {
        .services {
            flex-direction: row;
            flex-wrap: wrap;

            .service {
                width: 47%;
            }
        }
    }

}



@media only screen and (min-width : 800px) {
    header {
        .top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: r(12px) r(70px);


            .social-network-list {
                text-align: right;

                .social-network {
                    li {
                        margin-left: 10px;

                        a {
                            font-size: r(14px);
                        }
                    }
                }
            }
        }

        .menu-bar {
            nav {
                .navbar-menu {
                    display: block;
                }

                .navbar-menu-mobile {
                    display: none;
                }


            }

        }
    }

    .section-slider {
        .sliders {
            .slide-1 {
                .context {
                    padding: 0;
                    right: 0;
                    top: 50%;
                    margin: 0 r(12px);

                    .title {
                        .sub-title-1 {
                            font-size: r(36px);
                        }

                        .sub-title-2 {
                            font-size: r(50px);
                        }
                    }

                    .text {
                        font-size: r(19px);
                    }

                    .items {
                        font-size: r(20px);

                        li {
                            padding: r(6px) 0;

                            &::before {
                                width: r(42px);
                                height: r(42px);
                            }

                        }
                    }
                }
            }

            .slide-2 {
                .context {
                    .title {
                        font-size: r(75px);
                    }

                    .sub-title {
                        font-size: r(28px);
                    }

                }
            }

            .slide-3 {

                .context {
                    width: 520px;

                    .title {
                        font-size: 44px;
                    }

                    .sub-title {
                        font-size: 22px;
                    }

                    .text {
                        font-size: 14px;
                    }

                    .items {
                        li {
                            font-size: r(14px);
                        }
                    }
                }
            }



        }

        .banner {
            height: 165px;
            margin-top: -10px;

            .title {
                font-size: r(30px);
            }

            .buttons {
                margin-top: r(26px);

                .btn {
                    font-size: r(18px);
                }
            }
        }
    }

    .section-illustration-mobile {
        margin-top: 62px;
        background-color: #F6F6F6;
        position: relative;

        .illustration {

            .context-text {
                padding: 10px 20px;

                .title {
                    font-size: 28px;
                }

                .text {
                    font-size: r(16px);
                    padding-top: r(10px);
                }
            }

            .context-img {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .blocs {
                    .bloc {
                        margin: 0;
                        margin-top: r(50px);
                        padding: 0 30px;
                        max-width: 100%;

                        .title {
                            margin-top: r(5px);
                            font-size: r(26px);
                        }

                        &:nth-child(odd) {
                            .text {
                                text-align: right;
                            }
                        }

                        &:nth-child(even) {
                            .text {
                                text-align: left;
                            }
                        }

                    }
                }
            }
        }


    }

}



@media only screen and (min-width : 1040px) {
    .section-service {
        .services {
            .service {
                width: 24.5%;
                padding: 15px 0;
            }
        }
    }

    .section-about {
        .about {
            margin-top: 88px;
            padding: 47px 271px 47px;
            font-size: 16px;

            .context {
                .title {
                    font-size: 38px;
                }

                .text {
                    margin: 0;
                    margin-top: 30px;
                }
            }



        }
    }
}


@media only screen and (min-width : 1090px) {
    .section-testimonial {
        .testimonial {
            .sliders-testimonial {
                .slick-next {
                    right: 48% !important;
                    top: 184px;
                }

                .slick-prev {
                    left: 48% !important;
                    top: 184px;
                }

                .context {
                    padding: 0 90px;
                    font-size: r(38px);

                    .author {
                        font-size: r(16px);
                    }

                }
            }




        }
    }
}